* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  html, body {
    height: 100%;
    margin: 0;
    background-color: black; /* Fundalul negru */
    color: white; /* Opțional, pentru text alb */
  }
  
  #root {
    height: 100%;
  }
  
  